# Ignore Gradle project-specific cache directory
**/.gradle

# Ignore Gradle build output directory
**/build

.idea
**/logs
180Dashboard/node_modules/**
*.iml

#Ignore docs
protocolAggregator/github-docs/**

etc

#bin folders
**/bin
**/protocol180_0x1BDCF7ED_SECRET.pgp