@import '../../../../App.css';

.dashboard {
  position: relative;

  .bgGradient {
    background-image: linear-gradient(#35607E, #1E303E);

    * {
      color: #ffffff !important;
    }

    .headerContainer {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;

      .headerLinksUl {
        display: inline-flex;
        text-align: center;
        list-style: none !important;
        padding-left: 0;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;

        li {
          display: inline-block;
          list-style: none !important;
          margin: 0 15px;

          a.menuLink {
            text-decoration: none;
            display: block;
            font-family: 'Muli SemiBold';

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

    }

    .OverviewContainer {
      padding: 3em 0;
      text-align: center;

      .innerCol p {
        margin-bottom: 25px;

        &:first-child {
          font-size: 18px !important;
        }
      }

    }
  }

  .dataUploadCardBody {

    .leftBoxInner {
      height: 100%;
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      flex-direction: column;

      p {
        color: #1E303E;
        font-size: 18px;
        font-family: 'Muli SemiBold';
      }

      .selectCateBox {
        width: 100%;
        max-width: 420px;

        .customSelect {
          color: #1E303E;


          * {
            color: #1E303E;
            border-color: #678098;
          }

          .IndicatorArrowDiv {
            padding: 8px;
            height: 34px;
            width: 34px;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
              width: 18px;
              height: auto;
            }
          }
        }
      }

      .previewImgBox {

        .uploadedfileName {
          font-family: 'Muli Light' !important;
        }

      }

      .submitBtnBox {
        text-align: center;

        button {
          background-color: transparent !important;

          padding: 6px 20px;
          font-size: 18px;
          text-transform: uppercase;
          font-family: 'Muli Bold';
          border: none;
          outline: none;
          background: transparent;
          color: #1E303E;
          border-radius: 15px;
          cursor: pointer;
          border: 3px solid #193E6430 !important;
        }
      }
    }

    .rightBoxInner {
      width: 100%;
      height: 100%;

      .dragArea{
        width: 100%;
        height: 100%;
        background-color: #EDEFF2;
        border-radius: 5px;
        padding: 15px;
        border: 2px solid #707070;
        box-shadow: 0px 3px 6px 0px #00000040;

        .dragAreaInner {
          border: 2px dashed #707070;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;
          height: 100%;

          .icon{
            display: block;
            margin-bottom: 15px;
          }

          header, span {
            font-size: 18px;
            font-weight: 500;
            color: #3E3B3B;
          }

          span{
            margin: 10px 0 15px 0;
          }

          button{
            padding: 8px 20px;
            font-size: 20px;
            font-family: 'Muli SemiBold';
            border: none;
            outline: none;
            background: transparent;
            color: #000000;
            border-radius: 15px;
            cursor: pointer;
            border:2px solid #000000;
          }

          img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 15px;
          }
        }

        &.active{
          border: 2px solid #707070;
        }
      }
    }
  }

  .aggregTableCardBody {
    padding: 1rem 30px !important;

    table tr th:nth-child(5){
      border-right-color: transparent !important;
    }

    table tr td:nth-child(5) {
      border-right: 10px solid #ffffff !important;
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

    table tr th:nth-child(5),
    table tr td:nth-child(5) {
      max-width: 200px !important;
      width: 20% !important;
    }
  }

}